<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/login" method="POST">
            <% if(errorMessage) { %>
                <p class="user-message user-message--error"><%= errorMessage %></p>
             <% } %>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                type="email" 
                name="email" 
                id="email"  
                value="<%= values.email %>"
                class="<%= validationErrors.find(e => e.path === 'email')? 'error': '' %>"
                />
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                type="password" 
                name="password" 
                id="password"  
                value="<%= values.password %>"
                class="<%= validationErrors.find(e => e.path === 'password')? 'error': '' %>"
                />
            </div>
            <button class="btn" type="submit">Login</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>

        <div class="centered">
             <a href="/reset">Reset password</a>
        </div>
       
    </main>
<%- include('../includes/end.ejs') %>